/************************CONTACT SECTION******************************
**********************************************************************/

.cc_contactContainer {
    height: 890px;
    background-size: cover;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 0.5;
        background: url("../images/orangephotographie_details_0007.jpg") no-repeat center center;
        background-size: cover;
    }
    .cc_contactContainer2 {
        width: 78%;
        height: 709px;
        top: 86px;
        background-color: $main-bk-color;
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .cc_border_1 {
            border: $cc_border;
            width: 97%;
            height: 96%;
            margin: 0 auto;
        }
        .cc_border_2 {
            border: $cc_border;
            width: 99%;
            height: 98.5%;
            margin: 0 auto;
        }
        .cc_rowContactseven {
            font-weight: 300;
            .cc_contactrowrow {
                height: 520px;
                width: 100%;
            }
            #cc_contactleft {
                height: 100%;
                position: relative;
                float: left;
                img {
                    object-fit: cover;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                }
                ul {
                    list-style-type: none;
                    margin: 0;
                }
                li {
                    display: none;
                }
                #first {
                    display: block;
                }
            }
            #cc_contactright {
                float: right;
                padding-left: 80px;
                padding-top: 42px;
                .cc_contactTitle {
                    text-align: center;
                    padding-bottom: 10px;
                }
                .cc_contactsubTitle {
                    text-align: center;
                    padding-bottom: 6px;
                }
            }
            textarea,
            input {
                width: 100%;
                height: 52px;
                margin-bottom: 0px;
                padding: 5px 10px;
                box-shadow: none;
                -webkit-appearance: textarea;
                -moz-appearance: textarea;
                background-color: transparent;
                border-top: 2px solid rgba(128, 130, 132, 0.2);
                border-left: none;
                border-right: none;
                border-bottom: none;
                font-size: 12px;
                letter-spacing: 2px;
                color: rgba(0, 0, 0, 0.7);
            }
            form {
                p {
                    margin-bottom: 0px;
                    ::placeholder {
                        font-family: 'Copperplate Light', $body-font-family;
                        font-size: 10px;
                        letter-spacing: 3px;
                        text-transform: none;
                        color: #bdbdbd;
                    }
                }
            }
            textarea {
                padding-top: 15px;
                height: 100px;
                border-bottom: 2px solid rgba(128, 130, 132, 0.2);
            }
            input[type="submit"] {
                font-family: 'Monsieur La Doulaise', $body-font-family;
                font-size: 38px;
                color: rgba(128, 130, 132, 1);
                height: 82px;
                letter-spacing: 0;
                text-shadow: 1px 6px 10px rgba(#000000, 0.3);
                border: none;
                padding-top: 18px;
                &:hover {
                    cursor: pointer;
                    text-shadow: 1px 6px 10px rgba(#000000, 0.7);
                }
            }
        }
    }
}


/************************CONTACT SECTION MEDIA QUERIES****************
**********************************************************************/

@include bp-small {
    .cc_contactContainer {
        height: 684px;
        .cc_contactContainer2 {
            height: 578px;
            width: 92%;
            top:50px;
            .cc_border_1 {
                width: 91%;
            }
            .cc_border_2 {
                width: 98%;
                height: 98.7%;
            }
            .cc_rowContactseven {
                #cc_contactleft{
                    display:none;
                }
                .cc_contactrowrow {
                    margin: 0;
                }
                #cc_contactright {
                    padding: 8px;
                    padding-top: 60px;
                }
                    form {
                        p {
                            ::placeholder {
                                font-size: 8px;
                            }
                        }
                    }
                input[type="submit"] {
                    font-size: 30px;
                }
            }
            input[type="submit"] {
                font-size: 30px;
            }
        }
    }
}

@include bp-xlarge-ipad{
    .cc_contactContainer{
        .cc_contactContainer2{
            width:92%;
            .cc_rowContactseven{
                #cc_contactleft{
                    padding:0px;
                }
                #cc_contactright{
                    padding-left:36px;
                    padding-right:0px;
                }
            }
        }
    }
}
