/************************DETAILS SECTION**************************
**********************************************************************/

.cc_detailsContainer {
    height: 980px;
    width: 100%;
    background: $main-bk-color;
    .cc_sidebar {
        border: 1px solid rgba(128, 130, 132, 0.3);
        height: 46.3rem;
    }
    .cc_detailsContainer2 {
        max-width: 100%;
        height: 100%;
        position: relative;
        margin: 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .cc_border_1b {
            border-top: $cc_border;
            border-bottom: $cc_border;
            width: 100%;
            height: 97%;
            margin: 0 auto;
        }
        .cc_border_2b {
            border-top: $cc_border;
            border-bottom: $cc_border;
            width: 100%;
            height: 99%;
            margin: 0 auto;
        }
        .cc_detailsContainer3 {
            margin: 0;
            display: inline-block;
            height: 100%;
            width: 100%;
            .cc_detailsleft,
            .cc_detailsright {
                @include vertical-align();
            }
            .cc_sidebar {
                @include vertical-align();
                float: left;
            }
            .cc_detailsimgleft,
            .cc_detailsimgright {
                position: relative;
                height: 420px;
                overflow: hidden;
                max-width: 50%;
                img {
                    object-fit: cover;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                }
            }
            .cc_detailsleft {
                padding-right: 90px;
                text-align: center;
                p {
                    text-align: justify;
                }
                h5 {
                    font-family: 'Copperplate Light', $body-font-family;
                    font-size: 14px;
                    text-transform: uppercase;
                    letter-spacing: 4px;
                    padding-bottom: 30px;
                    text-shadow: 1px 6px 10px rgba(#000000, 0.3);
                }
                .cc_fixpp {
                    text-align: center;
                    padding-bottom: 20px;
                }
                .cc_fixppa {
                    text-align: center;
                }
                .cc_fixh5 {
                    padding-top: 44px;
                }
                .cc_fixpara {
                    padding-bottom: 10px;
                }
            }
            .cc_detailsright {
                padding-left: 60px;
                padding-bottom: 80px;
                .cc_topTtxt {
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    p {
                        font-size: 100px;
                        color: #fff;
                        font-family: 'bodega script';
                        font-weight: 400;
                        // text-shadow: 0 0 #000;
                        height: 130px;
                        margin: 0;
                    }
                }
                .cc_subTtxt {
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 128px;
                    z-index: 2;
                    height: 65px;
                }
                .cc_subHdiv {
                    position: relative;
                }
                .cc_detailsimgRow {
                    padding-bottom: 48px;
                }
                .cc_detailsrtxt2Row {
                    margin-bottom: 50px;
                    p {
                        text-align: justify;
                    }
                }
                .cc_detailsheadertitleRow {
                    margin: 0 auto;
                    text-align: center;
                    h5 {
                        font-family: 'Copperplate Light', $body-font-family;
                        font-size: 12px;
                        text-transform: uppercase;
                        letter-spacing: 4px;
                        margin-bottom: 30px;
                        margin-top: 16px;
                    }
                }
            }
        }
        .cc_border_6 {
            border: $cc_border;
            width: 76%;
            margin: 0 auto;
        }
    }
}


/************************DETAILS SECTION MEDIA QUERIES*****************
**********************************************************************/

.cc_detailsContainer {
    @include bp-small {
        height: 668px;
        .cc_detailsContainer2 {
            .cc_border_2b {
                height: 99%;
            }
            .cc_detailsContainer3 {
                padding-top: 12px;
                .cc_sidebar {
                    display: none;
                }
                .cc_detailsleft {
                    padding: 20px;
                    h5 {
                        font-size: 12px;
                    }
                }
                .cc_detailsright {
                    display: none;
                }
            }
        }
    }
    @include bp-medium {
        height: 103vh;
        .cc_detailsContainer2 {
            .cc_border_2b {
                padding: 0px 14px;
            }
        }
    }
    @include bp-medium-isixpls {
        height: 90vh;
        .cc_detailsContainer2 {
            .cc_border_2b {
                padding: 0px 22px;
            }
        }
    }
    @include bp-xlarge-ipad{
        .cc_detailsContainer2{
            .cc_detailsContainer3{
                .cc_detailsleft{
                    padding-right:0;
                    padding-left:40px;
                }
                .cc_sidebar{
                    margin-left:50px;
                }
                .cc_detailsright{
                    padding-left:0;
                    padding-right:26px;
                }
            }
        }

    }
}

    //nexus and galaxy phones.
    @media(min-width:412px) and (max-height:732px){
        .cc_detailsContainer{
            height:100vh;
        }
    }