/************************HERO SECTION*********************************
**********************************************************************/

body {
    h2 {
        font-family: 'Monsieur La Doulaise', $body-font-family;
    }
    h4 {
        font-family: 'Cinzel', $body-font-family;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        color: #990000;
    }
    p {
        font-family: 'Quicksand', $body-font-family;
        font-size: 14px;
        line-height: 1.7;
    }
    h5 {
        margin-bottom: 0;
    }
}

#cc_heroContainer {
    width: 100%;
    height: 110vh;
    background-size: cover;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 0.5;
        background: url("../images/orangephotographie_details_0007.jpg") no-repeat center center;
        background-size: cover;
    }
    .cc_heroContainer2 {
        top: 46.5px;
        width: 100%;
        height: 84%;
        background-color: $main-bk-color;
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .cc_border_1 {
            border: $cc_border;
            width: 97%;
            height: 96%;
            margin: 0 auto;
        }
        .cc_border_2 {
            border: $cc_border;
            width: 99.3%;
            height: 98.7%;
            margin: 0 auto;
        }
        p {
            margin: 0;
        }
        //----HERO ROW 1----//
        .cc_heroRow1C {
            display: inherit;
            margin: 0 auto;
            text-align: center;
            padding-top: 22px;
            a {
                color: rgba(128, 130, 132, 1);
                &:hover {
                    text-shadow: 1px 6px 10px rgba(#000000, 0.7);
                }
            }
            .top-bar-left,
            .top-bar-right {
                font-family: 'Copperplate Light', $body-font-family;
                font-size: 12px;
                letter-spacing: 4px;
                text-transform: uppercase;
            }
            .top-bar-left {
                padding-left: 38px;
                padding-right: 50px;
                text-shadow: 1px 6px 10px rgba(#000000, 0.3);
            }
            .top-bar-center {
                font-family: 'Monsieur La Doulaise', $body-font-family;
                font-size: 42px;
                font-weight: 100;
                padding-left: 42px;
                padding-right: 14px;
                .home a {
                    color: #990000;
                    &:hover {
                        text-shadow: 1px 6px 6px rgba(#000000, 0.7);
                    }
                }
                .cc_subtextPleasures {
                    font-family: 'Cinzel', $body-font-family;
                    font-size: 14px;
                    letter-spacing: 5px;
                    line-height: 1.2;
                    text-shadow: 1px 6px 10px rgba(#000000, 0.3);
                }
            }
            .top-bar-right {
                padding-left: 36px;
                padding-right: 18px;
                text-shadow: 1px 6px 10px rgba(#000000, 0.3);
            }
        }
        //----HERO ROW 2---//
        .cc_heroRow2 {
            width: 100%;
            .bwpb-overlay {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 0;
                background-color: rgba(0, 0, 0, 0.32);
                opacity: 0;
                color: #fff;
                @include gallery-img-transition(all 1.4s ease);
                &:hover {
                    opacity: 1;
                    @include gallery-img-transition(all 1.2s ease);
                }
                h5 {
                    font-family: 'Monsieur La Doulaise', $body-font-family;
                    font-size: 45px;
                    text-shadow: 1px 6px 10px rgba(#000, 1.2);
                }
            }
            .slideshow-block{
                li{
                    display:none;
                }
                #first{
                    display:block;
                }
            }
        }
        .cc_1stCol,
        .cc_2ndCol,
        .cc_3rdCol {
            min-height: 430px;
            position: relative;
            overflow: hidden;
            border-bottom: 10px solid transparent;
            margin: 0px;
            padding: 0px;
            img {
                object-fit: cover;
                position: absolute;
                width: 100%;
                height: 100%;
                @include gallery-img-transition(all 1.4s ease);
            }
            a:hover img {
                @include gallery-hover-img-transform(scale(1.04));
            }
        }
        .cc_1stCol {
            margin-left: 122px;
        }
        .cc_2ndCol {
            margin-left: 44px;
            margin-right: 44px;
            .slides {
                position: absolute;
                height: 100%;
                width: 100%;
                margin: 0;
            }
        }
        .cc_3rdCol {
            margin-right: 122px;
        }
        //----HERO ROW 3---//
        .cc_heroRow3 {
            margin: auto;
            margin-top: 0px;
            width: 79%;
            border-top: 1.5px solid rgba(128, 130, 132, 0.3);
            padding-top: 26px;
            text-align: center;
            a {
                color: rgba(128, 130, 132, 1);
            }
            ul {
                list-style-type: none;
                margin: auto;
                padding: 0;
            }
            .cc_sidebar {
                border: 1px solid rgba(128, 130, 132, 0.3);
                height: 4.3rem;
            }
            .cc_Welcome {
                font-family: 'Monsieur La Doulaise', $body-font-family;
                font-size: 36px;
                letter-spacing: 1px;
                padding-right: 24px;
            }
            .cc_fineartmain {
                font-family: 'Crimson Text', $body-font-family;
                font-size: 14px;
                letter-spacing: 6.1px;
                text-indent: 6.1px;
                line-height: 2.7;
                text-transform: uppercase;
                color: #990000;
            }
            .cc_subfooterhome {
                font-family: 'Copperplate Light', $body-font-family;
                font-size: 10px;
                letter-spacing: 7px;
                text-transform: uppercase;
                padding-left: 6px;
            }
            .cc_social-holder {
                padding-left: 39px;
                ul {
                    display: table;
                    margin: 0 auto;
                }
                ul li {
                    display: inline-block;
                }
                .cc_social-holderTitle {
                    font-family: 'Monsieur La Doulaise', $body-font-family;
                    font-size: 36px;
                    margin-bottom: 0px;
                    line-height: 1;
                    letter-spacing: 1px;
                }
                .cc_social-list {
                    a {
                        padding: 10px;
                        &:hover {
                            text-shadow: 1px 1px 31px rgba(#000000, 1);
                        }
                    }
                }
            }
            .cc_cpCol {
                .cc_border_6 {
                    border: 1px solid rgba(128, 130, 132, 0.3);
                    width: 80px;
                }
            }
        }
    }
}


/************************FILLER SECTION*******************************
**********************************************************************/

// THE FILLER SECTION //
.cc_fillerTextColumn {
    background: url('../images/orangephotographie_0008.jpg');
    height: 400px;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}


/************************ABOUT SECTION********************************
**********************************************************************/

// REFER TO _ABOUT SCSS

/************************FILLER SECTION 2*****************************
**********************************************************************/

// THE FILLER SECTION 2 //
.cc_fillerTextColumn2 {
    background: url('../images/orangephotographie_0008.jpg');
    height: 450px;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}


/************************QUOTES SECTION*******************************
**********************************************************************/

//REFER TO _QUOTES SCSS

/************************FILLER SECTION 2*****************************
**********************************************************************/

// THE FILLER SECTION 3 //
.cc_fillerTextColumn3 {
    background: url('../images/orangephotographie_0008.jpg');
    height: 450px;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}


/************************DETAILS SECTION******************************
**********************************************************************/

// REFER TO _DETAILS SCSS

/************************FILLER SECTION 4*****************************
**********************************************************************/

// THE FILLER SECTION 4 //
.cc_fillerTextColumn4 {
    background: url('../images/orangephotographie_0008.jpg');
    height: 400px;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}


/************************CONTACT SECTION******************************
**********************************************************************/

// REFER TO _CONTACT SCSS

/************************FOOTER SECTION******************************
**********************************************************************/

// REFER TO _FOOTER SCSS

/************************UP ARROW SCROLL ICON*************************
**********************************************************************/

#toTop {
    width: 44px;
    background: rgba(250, 245, 242, 1);
    text-align: center;
    padding: 10px 10px 10px 10px;
    position: fixed;
    bottom: 122px;
    right: 10px;
    cursor: pointer;
    transition: color 300ms, background-color 300ms, opacity 300ms;
    -moz-transition: color 300ms, background-color 300ms, opacity 300ms;
    -o-transition: color 300ms, background-color 300ms, opacity 300ms;
    -webkit-transition: color 300ms, background-color 300ms, opacity 300ms;
    z-index: 9;
    border-radius: 5px;
    display: block;
    border: 1px solid rgba(128, 130, 132, 0.6);
}

#toTop i {
    color: rgba(128, 130, 132, 1);
    font-size: 1.5em;
}

#toTop:hover {
    opacity: 0.78 !important;
}

//-----------TO TOP ARROW MEDIA QUERIES----------//
#toTop {
    @include breakpoint(small only) {
        padding: 4px;
        width: 34px;
        bottom: 88px;
        opacity: 0.30 !important;
    }
}
