/************************HERO SECTION*********************************
**********************************************************************/

#cc_heroContainer {
    width: 100%;
    height: 116vh;
    background-size: cover;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 0.5;
        background: url("../images/orangephotographie_details_0007.jpg") no-repeat center center;
    }
    .cc_menuContainer {
        top: 51.5px;
        width: 100%;
        height: 100vh;
        background-color: rgba(250, 245, 242, 1);
        position: relative;
        .cc_border_1 {
            border: 1px solid rgba(128, 130, 132, 0.4);
            width: 97%;
            height: 96%;
            margin: 0 auto;
        }
        .cc_border_2 {
            border: 1px solid rgba(128, 130, 132, 0.4);
            width: 99%;
            height: 98.5%;
            margin: 0 auto;
        }
        .cc_mainmenuRow {
            width: 100%;
        }
        p {
            margin: 0;
        }
        .cc_portraitsCol,
        .cc_weddingsCol,
        .cc_familyCol {
            min-height: 430px;
            position: relative;
            overflow: hidden;
            border-top: 30px solid transparent;
            border-bottom: 30px solid transparent;
            margin: 0px;
            padding: 0px;
            img {
                object-fit: cover;
                position: absolute;
                width: 100%;
                height: 100%;
                @include gallery-img-transition(all 1.7s ease);
            }
            a:hover img {
                @include gallery-hover-img-transform(scale(1.05));
                opacity: 0.3;
            }
            .cc_portraitstext {
                opacity: 0;
                color: rgba(128, 130, 132, 0.4);
                &::hover {
                    opacity: 1;
                }
            }
        }
        .cc_portraitsCol {
            margin-left: 122px;
        }
        .cc_weddingsCol {
            margin-left: 44px;
            margin-right: 44px;
        }
        .cc_familyCol {
            margin-right: 122px;
        }
    }
}


/************************FILLER SECTION*********************************
**********************************************************************/

// THE FILLER SECTION //
.cc_fillerTextColumn {
    background: url('../images/orangephotographie_0008.jpg');
    height: 400px;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    margin-bottom: 66px;
}


/************************ABOUT SECTION*********************************
**********************************************************************/

.cc_aboutContainer {
    height: 900px;
    padding-top: 50px;
    margin-top: 50px;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 0.5;
        background: url("../images/orangephotographie_details_0007.jpg") no-repeat center center;
    }
    .cc_aboutContainer_2 {
        width: 100%;
        height: 100vh;
        background-color: rgba(250, 245, 242, 1);
        position: relative;
        .cc_border_1 {
            border: 1px solid rgba(128, 130, 132, 0.4);
            width: 97%;
            height: 96%;
            margin: 0 auto;
        }
        .cc_border_2 {
            border: 1px solid rgba(128, 130, 132, 0.4);
            width: 99%;
            height: 98.5%;
            margin: 0 auto;
        }
    }
}


/************************FILLER SECTION*********************************
**********************************************************************/

// THE FILLER SECTION //
.cc_fillerTextColumn2 {
    background: url('../images/orangephotographie_0008.jpg');
    height: 400px;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    margin-bottom: 66px;
}


/************************DETAILS SECTION**************************
**********************************************************************/

.cc_detailsContainer {
    height: 900px;
    width: 100%;
    background: rgba(250, 245, 242, 1);
    .cc_detailsText {
        width: 100%;
        height: 100vh;
        position: relative;
        .cc_border_1b {
            border-top: 1px solid rgba(128, 130, 132, 0.4);
            border-bottom: 1px solid rgba(128, 130, 132, 0.4);
            width: 97%;
            height: 96%;
            margin: 0 auto;
        }
        .cc_border_2b {
            border-top: 1px solid rgba(128, 130, 132, 0.4);
            border-bottom: 1px solid rgba(128, 130, 132, 0.4);
            width: 99%;
            height: 98.5%;
            margin: 0 auto;
        }
    }
}

/************************CONTACT SECTION*******************************
**********************************************************************/
.cc_contactContainer{
  height:909px;
  padding-top:20px;
          background-size:cover;
          position:relative;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 0.5;
        background: url("../images/orangephotographie_details_0007.jpg") no-repeat center center;

    }
    .cc_contactContainer_2 {
        width: 78%;
        height: 709px;
        top:86px;
        background-color: rgba(250, 245, 242, 1);
        position: relative;
        .cc_border_1 {
            border: 1px solid rgba(128, 130, 132, 0.4);
            width: 97%;
            height: 96%;
            margin: 0 auto;
        }
        .cc_border_2 {
            border: 1px solid rgba(128, 130, 132, 0.4);
            width: 99%;
            height: 98.5%;
            margin: 0 auto;
        }
    }
}