/************************GALLERY1 SECTION*********************************
**********************************************************************/

body {
    h2 {
        font-family: 'Monsieur La Doulaise', $body-font-family;
    }
    h4 {
        font-family: 'Cinzel', $body-font-family;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        color: #990000;
    }
    h5 {
        margin-bottom: 0;
    }
}

.cc_galleryContainer {
    height: auto;
    position: relative;
    padding-bottom: 200px;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        opacity: 0.5;
        background: url("../images/orangephotographie_details_0007.jpg") no-repeat center center;
        background-size: cover;
    }
    .cc_galleryContainer2 {
        top: 91px;
        width: 100%;
        background-color: $main-bk-color;
        position: relative;
        padding-top: 12px;
        padding-bottom: 12px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .cc_border_1 {
            border: $cc_border;
            width: 99%;
            margin: 0 auto;
            margin-top: 6px;
            margin-bottom: 6px;
        }
        .cc_border_2 {
            border: $cc_border;
            width: 99.3%;
            margin: 0 auto;
            margin-top: 3.9px;
            margin-bottom: 3.9px;
        }
        a {
            color: rgba(128, 130, 132, 1);
            &:hover {
                text-shadow: 1px 6px 10px rgba(#000000, 0.7);
            }
        }
        //----GALLERY NAV ROW ----//
        .cc_galleryNavRow1C {
            display: inherit;
            text-align: center;
            padding-top: 50px;
            padding-bottom: 50px;
            .top-bar-left,
            .top-bar-right,
            {
                font-family: 'Copperplate Light', $body-font-family;
                font-size: 12px;
                letter-spacing: 4px;
                text-transform: uppercase;
                text-shadow: 1px 6px 10px rgba(#000000, 0.3);
                position: relative;
                padding-bottom: 26px;
            }
            .top-bar-center {
                font-family: 'Monsieur La Doulaise', $body-font-family;
                font-size: 42px;
                font-weight: 100;
                padding-left: 20px;
                padding-right: 20px;
                .home a {
                    color: #990000;
                    &:hover {
                        text-shadow: $chasingpleasure-shadow;
                    }
                }
                .cc_subtextPleasures {
                    font-family: 'Cinzel', $body-font-family;
                    font-size: 20px;
                    letter-spacing: 5px;
                    line-height: 1.2;
                    text-shadow: 1px 6px 10px rgba(#000000, 0.3);
                }
            }
            .cc_gallerytopnavl,
            .cc_gallerytopnavr {
                position: absolute;
                top: 22px;
            }
            .cc_gallerytopnavl {
                padding-right: 100px;
            }
            .cc_gallerytopnavr {
                padding-left: 100px;
            }
            .cc_imgTitlel,
            .cc_imgTitler {
                height: 56px;
                width: 200px;
            }
        }
    }
}


/************************GALLERY MEDIA QUERIES*******************
*****************************************************************/

.cc_galleryContainer {
    padding-bottom: 142px;
    @include bp-small {
        .cc_galleryContainer2 {
            top: 20px;
            .cc_border_1 {}
            .cc_border_2 {
                margin-top: 4px;
                margin-bottom: 4px;
                width: 97.7%;
                .column {
                    flex: none !important;
                    -ms-flex: none;
                    -webkit-box-flex: none;
                    .cc_gallerytxtRow {
                        .vc_row {
                            #gallery-1 {
                                -moz-column-count: 3;
                                -moz-column-gap: 2px;
                                -webkit-column-count: 3;
                                -webkit-column-gap: 2px;
                                column-count: 3;
                                column-gap: 2px;
                                .fg-gallery-item {
                                    padding-bottom:2px;
                                }
                            }
                        }
                    }
                }
            }
            a {
                &:hover {}
            }
            //----GALLERY NAV ROW ----//
            .cc_galleryNavRow1C {
                .top-bar-right,
                {
                    #mobile-menu {
                        display: none;
                    }
                }
                .top-bar-center {
                    font-size: 30px;
                    .home a {
                        &:hover {}
                    }
                    .cc_subtextPleasures {
                        font-size: 12px;
                    }
                }
                .cc_gallerytopnavl,
                .cc_gallerytopnavr {}
                .cc_gallerytopnavl {}
                .cc_gallerytopnavr {}
                .cc_imgTitlel,
                .cc_imgTitler {
                    display: none;
                }
            }
        }
    }
    @include bp-xlarge-ipad {
        padding-bottom: 172px;
        .cc_galleryContainer2 {
            .cc_border_2 {
                margin-top: 4px;
                margin-bottom: 4px;
                                .column {
                    flex: none !important;
                    -ms-flex: none;
                    -webkit-box-flex: none;
                    .cc_gallerytxtRow {
                        .vc_row {
                            #gallery-1 {
                                -moz-column-count: 3;
                                -moz-column-gap: 2px;
                                -webkit-column-count: 3;
                                -webkit-column-gap: 2px;
                                column-count: 3;
                                column-gap: 2px;
                                .fg-gallery-item {
                                    padding-bottom:2px;
                                }
                            }
                        }
                    }
                }
            }
            .cc_galleryNavRow1C {
                .cc_imgTitlel,
                .cc_imgTitler {
                    width: 156px;
                }
                .cc_gallerytopnavr {
                    padding-left: 70px;
                }
                .top-bar-center {
                    padding-left: 14px;
                    padding-right: 0px;
                }
            }
        }
    }
    @include bp-xlarge-ipadpro {
        .cc_galleryContainer2 {
            .cc_galleryNavRow1C {
                .cc_imgTitlel,
                .cc_imgTitler {
                    width: 227px;
                }
                .cc_gallerytopnavr {
                    padding-left: 122px;
                }
            }
        }
    }
}


/************************LEFT ARROW PAGE NEXT ICON*************************
**********************************************************************/

#toLeft {
    width: 44px;
    background: rgba(250, 245, 242, 1);
    text-align: center;
    text-shadow: none;
    padding: 20px 10px 20px 10px;
    position: fixed;
    bottom: 330px;
    left: 150px;
    cursor: pointer;
    transition: color 300ms, background-color 300ms, opacity 300ms;
    -moz-transition: color 300ms, background-color 300ms, opacity 300ms;
    -o-transition: color 300ms, background-color 300ms, opacity 300ms;
    -webkit-transition: color 300ms, background-color 300ms, opacity 300ms;
    z-index: 9;
    border-radius: 5px;
    display: block;
    border: 1px solid rgba(128, 130, 132, 0.6);
}

#toLeft i {
    color: rgba(128, 130, 132, 1);
    font-size: 1.5em;
}

#toLeft:hover {
    opacity: 0.78 !important;
}

//-----------TO LEFT ARROW MEDIA QUERIES----------//
#toLeft {
    @include breakpoint(small only) {
        padding: 4px;
        width: 24px;
        bottom: 215px;
        opacity: 0.60 !important;
        left: 4px;
    }
    @include bp-xlarge-ipad {
        left: 26px;
        bottom: 340px;
    }
    @include bp-xlarge-ipadpro {
        left: 42px;
    }
    @include bp-xxxlarge {
        left: 390px;
    }
    @include breakpoint(xxlarge){
        left:390px;
    }
}




/************************RIGHT ARROW PAGE NEXT ICON*************************
**********************************************************************/

#toRight {
    width: 44px;
    background: rgba(250, 245, 242, 1);
    text-align: center;
    text-shadow: none;
    padding: 20px 10px 20px 10px;
    position: fixed;
    bottom: 330px;
    right: 150px;
    cursor: pointer;
    transition: color 300ms, background-color 300ms, opacity 300ms;
    -moz-transition: color 300ms, background-color 300ms, opacity 300ms;
    -o-transition: color 300ms, background-color 300ms, opacity 300ms;
    -webkit-transition: color 300ms, background-color 300ms, opacity 300ms;
    z-index: 9;
    border-radius: 5px;
    display: block;
    border: 1px solid rgba(128, 130, 132, 0.6);
    visibility: visible;
}

#toRight i {
    color: rgba(128, 130, 132, 1);
    font-size: 1.5em;
}

#toRight:hover {
    opacity: 0.78 !important;
}

//-----------TO RIGHT ARROW MEDIA QUERIES----------//
#toRight {
    @include breakpoint(small only) {
        padding: 4px;
        width: 24px;
        bottom: 215px;
        opacity: 0.6 !important;
        right: 4px;
    }
    @include bp-xlarge-ipad {
        right: 26px;
        bottom: 340px;
    }
    @include bp-xlarge-ipadpro {
        right: 42px;
    }
    @include bp-xxxlarge {
        right: 390px;
    }
    @include breakpoint(xxlarge){
        right:390px;
    }
}
