/************************QUOTES SECTION*******************************
**********************************************************************/

.cc_quotesContainer {
    height: 690px;
    width: 100%;
    background: $main-bk-color;
    overflow: hidden;
    .cc_quotesContainer2 {
        max-width: 100%;
        height: 100%;
        position: relative;
        margin: 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        .cc_border_1b {
            border-top: $cc_border;
            border-bottom: $cc_border;
            width: 100%;
            height: 96%;
            margin: 0 auto;
        }
        .cc_border_2b {
            border-top: $cc_border;
            border-bottom: $cc_border;
            width: 100%;
            height: 98.5%;
            margin: 0 auto;
        }
        .cc_quotesContainer3 {
            height: 90%;
            margin: 0 auto;
            display: inline-block;
            .cc_quotesLeft {
                position: relative;
                height: 100%;
                margin-left: 130px;
                margin-right: 40px;
                overflow: hidden;
                img {
                    object-fit: cover;
                    position: absolute;
                    width: 100%;
                    height:100%;
                }
                li {
                    display: none;
                }
                #first {
                    display: block;
                }
            }
            .cc_quotesRight {
                text-align: center;
                position: relative;
                .cc_qqbq {
                    ul {
                        margin: 0 auto;
                        list-style-type: none;
                        li {
                            display: none;
                        }
                        #first {
                            display: block;
                        }
                    }
                }
                .cc_qp {
                    text-align: justify;
                    padding: 40px 80px 22px 80px;
                }
                .cc_topTtxt {
                    position: absolute;
                    left: 50%;
                    width: 100%;
                    top: 0;
                    transform: translateX(-50%);
                    p {
                        font-size: 100px;
                        color: #fff;
                        font-family: 'bodega script';
                        font-weight: 400;
                        // text-shadow: 0 0 #000;
                        height: 96px;
                        width: 100%;
                        margin-bottom: 0;
                        position: absolute;
                        line-height: 72px;
                    }
                }
                .cc_subTtxt {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 10px;
                    z-index: 2;
                    h2 {
                        margin-top: 4px;
                    }
                }
                .cc_subHdiv {
                    position: relative;
                    top: 80px;
                    ul {
                        position: absolute;
                        list-style-type: none;
                        margin: 0;
                        width: 100%;
                        li {
                            display: none;
                        }
                        #first {
                            display: block;
                        }
                    }
                }
                .cc_qparadiv {
                    position: relative;
                    // top: 55px;
                    top: 90px;
                }
                .cc_border_6 {
                    border: $cc_border;
                    width: 45%;
                    margin: 0 auto;
                    top: 96px;
                    position: relative;
                }
                .cc_qsubH {
                    padding-bottom: 22px;
                }
                .cc_qqbq {
                    position: relative;
                    ul {
                        position: absolute;
                        list-style-type: none;
                        margin: 0;
                        width: 100%;
                        li {
                            display: none;
                            p {
                                padding-left: 70px;
                                padding-right: 70px;
                                letter-spacing: 2.5px;
                            }
                        }
                        #first {
                            display: block;
                        }
                    }
                }
                .cc_qbq {
                    padding-top: 142px;
                    padding-bottom: 20px;
                    margin: 0 auto;
                    font-family: 'Copperplate Light', $body-font-family;
                    font-size: 12px;
                    text-transform: uppercase;
                }
                .cc_qbtn {
                    font-family: 'Monsieur La Doulaise', $body-font-family;
                    font-size: 38px;
                    color: rgba(128, 130, 132, 1);
                    text-shadow: 1px 6px 10px rgba(#000000, 0.3);
                    top: 190px;
                    position: relative;
                    &:hover {
                        text-shadow: 1px 6px 10px rgba(#000000, 0.7);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}


/************************QUOTES SECTION MEDIA QUERIES*****************
**********************************************************************/

.cc_quotesContainer {
    @include breakpoint(small only) {
        height: 618px;
        .cc_quotesContainer2 {
            .cc_border_2b {
                height: 98.8%;
            }
            .cc_quotesContainer3 {
                height: 85%;
                .cc_quotesLeft {
                    margin: 0px;
                    height: 200px;
                    img{
                        height:auto;
                    }
                    ul {
                        margin: 0px;
                    }
                }
                .cc_quotesRight {
                    .cc_qqbq {
                        ul {
                            li {
                                p {
                                    font-size: 8px;
                                    padding: 10px;
                                    padding-top:0px;
                                }
                            }
                        }
                    }
                    .cc_qp {
                        padding: 10px 18px 18px 18px;
                    }
                    .cc_subHdiv {
                        top: 66px;
                    }
                    .cc_qsubH {
                        padding-bottom: 0px;
                    }
                    .cc_qqbq {
                        top: 130px;
                    }
                    .cc_qbtn {
                        display: none;
                    }
                }
            }
        }
    }
    @include bp-medium {
        height: 610px;
        .cc_quotesContainer2 {
            .cc_border_2b {
                padding: 0px 6px;
                .cc_quotesContainer3 {
                    height: 74%;
                }
            }
        }
    }
    @include bp-medium-isixpls {
        height: 632px;
        .cc_quotesContainer2 {
            .cc_border_2b {
                padding: 0px 18px;
            }
            .cc_quotesContainer3 {
                .cc_quotesLeft {
                    height: 224px;
                }
            }
        }
    }
    @include bp-xlarge-ipad {
        .cc_quotesContainer2 {
            .cc_quotesContainer3 {
                margin-top:50px;
                height:75%;
                .cc_quotesLeft {
                    margin-left: 74px;
                    margin-right: 0;
                    ul {
                        margin: 0;
                    }
                    img {
                        object-fit: cover;
                        height: 100%;
                    }
                }
                .cc_quotesRight {
                    margin-right: 74px;
                    .cc_qp {
                        padding: 0px;
                    }
                    .cc_topTtxt {
                        p {
                            font-size:66px;
                        }
                    }
                    .cc_subHdiv {
                        top: 80px;
                    }
                    .cc_qparadiv {
                        top: 122px;
                    }
                    .cc_border_6 {
                        top:150px;
                    }
                    .cc_qsubH {
                        font-size: 18px;
                    }
                    .cc_qqbq {
                        ul {
                            li {
                                display: none;
                                p {
                                    padding-left: 0px;
                                    padding-right: 0px;
                                }
                            }
                        }
                    }
                    .cc_qbq {
                        padding-top:184px;
                    }
                    .cc_qbtn {
                        top:254px;
                    }
                }
            }
        }
    }
}
