@font-face {
    font-family: 'Copperplate Light';
    src: url('http://static.showit.co/file/1CcFi738RBm6YNekBCHkwQ/51489/copperplategothic-light_gdi.woff') format('woff');
}

@font-face {
    font-family: 'Bodega Script';
    src: url('http://static.showit.co/file/30Pt2PVxRQm8eJ3v-THGyQ/shared/bodegascript_gdi.woff') format('woff');
}

@font-face {
    font-family: 'Sweet Sans';
    src: url('http://static.showit.co/file/xiW8zsKRQba6FWno4mzICw/51489/sweetsanspro-light_gdi.woff') format('woff');
}

@font-face {
    font-family: 'Cinzel';
    src: url('http://static.showit.co/file/LhH6xnCxTjyOJtjl9TrYUA/51489/cinzel-regular_gdi.woff') format('woff');
}

@font-face {
    font-family: 'Monsieur La Doulaise';
    src: url('http://static.showit.co/file/MhxpeCYcSQOjDf8SKI-j-g/51489/monsieurladoulaise-regular_gdi.woff') format('woff');
}

@font-face {
    font-family: 'Knockout';
    src: url('http://static.showit.co/file/-zkNTPZhT3qxPtXnYWfq3w/51489/knockout-htf30-juniorwelterwt.woff') format('woff');
}
