/************************FOOTER SECTION*******************************
**********************************************************************/

#footer-container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    background: rgba(250, 245, 242, 1);
    margin-top: 0px !important;
    #footer {
        @include grid-row();
        padding: rem-calc(20) 0;
        text-align: center;
        padding-top: 12px;
        padding-bottom: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        ul {
            list-style-type: none;
            margin: auto;
            padding: 0;
        }
        .cc_sidebar {
            border: 1px solid rgba(128, 130, 132, 0.3);
            height: 4.3rem;
        }
        .cc_border_5 {
            margin: auto;
            width: 92%;
            border-top: 1px solid rgba(128, 130, 132, 0.4);
            padding-top: 6px;
            .cc_sitebyCol {
                padding: 12px 18px 10px 10px;
                #cc_sitebyLink {
                    margin: 0;
                    text-transform: uppercase;
                    font-size: 10px;
                    color: rgba(128, 130, 132, 1);
                    &:hover {
                        text-shadow: 1px 3px 10px rgba(#000000, 0.5);
                    }
                }
                .cc_copyR {
                    @extend #cc_sitebyLink;
                    padding-top: 4px;
                    margin-bottom: 0px;
                    a {
                        color: rgba(128, 130, 132, 1);
                    }
                    .cc_copylinkClass {
                        margin-bottom: 0px;
                        font-size: 12px;
                    }
                }
            }
            .cc_cpCol {
                .cc_middlemenufooter {
                    padding-top: 20px;
                }
                .cc_cpfootlink {
                    font-family: 'Monsieur La Doulaise', $body-font-family;
                    font-size: 34px;
                    font-weight: 100;
                    color: #990000;
                    line-height: 0;
                    &:hover {
                        text-shadow: $chasingpleasure-shadow;
                    }
                }
                .cc_subfooterhome {
                    font-family: 'Crimson Text', $body-font-family;
                    font-size: 14px;
                    letter-spacing: 6.1px;
                    line-height: 2.7;
                    text-transform: uppercase;
                    color: rgba(128, 130, 132, 1);
                    text-shadow: 1px 6px 10px rgba(#000000, 0.3);
                }
            }
            .cc_social-holder {
                ul {
                    display: table;
                    margin: 0 auto;
                }
                ul li {
                    display: inline-block;
                }
                .cc_social-holderTitle {
                    font-family: 'Monsieur La Doulaise', $body-font-family;
                    font-size: 36px;
                    text-transform: none;
                    letter-spacing: 0;
                    margin-bottom: 0;
                }
                .cc_social-list {
                    a {
                        padding: 10px;
                        color: rgba(128, 130, 132, 1);
                        &:hover {
                            text-shadow: 1px 1px 31px rgba(#000000, 1);
                        }
                    }
                }
            }
        }
    } //-- end of main row
} //--end of footer container

//----------------------FOOTER MEDIA QUERIES SECTION------------------//

#footer-container {
    @include breakpoint(small only) {
        #footer {
            .cc_sidebar {
                display: none;
            }
            .cc_border_5 {
                .cc_sitebyCol {
                    padding: 0px;
                    padding-top:10px;
                }
                .cc_cpCol {
                    .cc_middlemenufooter {
                        padding-top: 0px;
                    }
                    .cc_cpfootlink {
                        font-size: 24px;
                    }
                    .cc_subfooterhome {
                        font-size: 10px;
                        line-height: 1.7;
                        letter-spacing: 4.1px;
                    }
                }
                .cc_social-holder {
                    padding:0px;
                    a{
                        color:#808284;
                        text-transform:uppercase;
                    }
                    h2 {
                        display: none;
                    }
                    ul li {
                        padding: 0px;
                    }
                    #cc_sitebyLink,
                    .cc_copylinkClass{
                        font-size: 7.6px;
                        padding-top:10px;
                        float:left;
                    }
                    #cc_sitebyLink {
                        margin:0px;
                    }
                    .cc_copyR {
                        .cc_copylinkClass {
                            margin-bottom: 0px;
                            padding-left: 4px;
                        }
                    }
                    .cc_social-list {
                        padding-top: 6px;
                        a {
                            padding: 4px;
                        }
                    }
                }
            }
        } //-- end of main row
    }
} //--end of footer container
